# Enable buildkit
build --action_env=DOCKER_BUILDKIT=1

# Disable symlinks
build --symlink_prefix=/

# Set stable and volatile workspace variables. These can be referenced by rules
# to stamp artifacts (like docker tags).
build --workspace_status_command build/status.sh
build --stamp

# Output test errors to the console
test --test_output=errors
